:root{
    --p-color:#2fbe04;
}
/* Modal color */
.modal .modal-header .close i, .modal .modal-header .close .ki {
    color: #fff;
    font-size: 20px;
}
.modal .modal-header .close:hover i, .modal .modal-header .close:hover .ki {
    color: #fff;
}
.modal .modal-header {
    background: var(--p-color);
}
.modal .modal-header .modal-title {
    color: #fff;
}
.btn.btn-primary {
    color: #FFFFFF;
    background-color: var(--p-color);
    border-color: var(--p-color);
}
.btn.btn-primary:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-primary:focus:not(.btn-text), .btn.btn-primary.focus:not(.btn-text) {
    color: #FFFFFF;
    background-color: var(--p-color);
    border-color: var(--p-color);
}
.btn.btn-light {
    background-color: var(--p-color);
    border-color: var(--p-color);
}
.btn.btn-hover-primary:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-hover-primary:focus:not(.btn-text), .btn.btn-hover-primary.focus:not(.btn-text) {
    color: #FFFFFF !important;
    background-color: var(--p-color) !important;
    border-color: var(--p-color) !important;
}
.previewImage{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%; height:300px;
    border: 0;
}
.small-previewImage{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%; height:150px;
    border: 0;
}
.form-group label {
    font-weight: 600;
}
.imageBox >img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 164px;
    width: 162px;
    border: 3px solid #2fbe04;
}
b {
    border: 1px solid #d9d9d9 !important;
    padding: 6px;
}
